
.article-details {
    padding: 20px;
    max-width: 1200px; 
    margin: 0 auto;
    top:20vh;
    margin-top: 10vh;
  }
  
  .article-details .image {
    width: 8ovw;
    height: 30vh;
    max-width: 800px; 
    height: auto;
    display: block;
    margin: 0 auto;
    margin-top: 50vh;
  }
  
  .article-details .title {
    font-size: 2rem;
    margin-top: 20px;
    text-align: center;
  }
  
  .article-details .author-date {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .article-details .author-date .author-info {
    display: flex;
    align-items: center;
  }
  
  .article-details .author-date .author-info .author-image {
    border-radius: 50%;
    width: 50px; 
    height: 50px;
    margin-right: 10px;
  }
  
  .article-details .author-date .author-info .author-name {
    font-size: 1.2rem;
  }
  
  .article-details .author-date .date {
    font-size: 1rem;
    color: gray;
  }
  
  .article-details .content {
    margin-top: 30px;
    line-height: 1.6;
    font-size: 1.2rem;
  }
  
  /* Mobile */
  @media only screen and (max-width: 768px) {
    .article-details {
      padding: 10px;
      max-width: 100%;
    }
  
    .article-details .image {
      max-width: 100%;
      height: auto;
      margin: 0 auto;
    }
  
    .article-details .title {
      font-size: 1.5rem;
    }
  
    .article-details .author-date {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .article-details .author-date .author-info {
      flex-direction: row;
      margin-bottom: 10px;
    }
  
    .article-details .author-date .author-info .author-image {
      width: 40px;
      height: 40px;
      margin-right: 8px;
    }
  
    .article-details .author-date .author-name {
      font-size: 1rem;
    }
  
    .article-details .author-date .date {
      font-size: 0.9rem;
    }
  
    .article-details .content {
      font-size: 1rem;
    }
  }
  