.information-page {
  width: 99vw;
  height: 100vh;
  background: linear-gradient(180deg, #3b780a 0%, #e7f9e7 45%); 
  padding-top: 4rem;
  background-color: #e7f9e7;
  justify-self:center;
}


.header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.dropdown-container {
  position: relative;
  display: inline-block;
}

.add-article-button {
  background-color: #436a56;
  color: #fff;
  border: 1px solid #303b2d;
  border-radius: 5px;
  position: relative;
  padding: 10px 20px;
  margin-right: 3vw; 
  font-size: 15px;
  cursor: pointer;
  outline: none;
  margin-top: 8vh;
  margin-left: 6vw;
}

.add-article-button:focus {
  border-color: #ffffffde; 
  box-shadow: none; 
}
.add-article-button:active {
  background-color: #004d40; 
  border-color: #004d40; 
}
.add-article-button:hover {
  background-color: #436a569a;
}
.back-button {
  background: none;
  border: none;
  font-size: 24px;
  color: #333;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

.back-button:hover {
  color: #007bff;
}

.back-button::before {
  content: "←";
  font-size: 24px;
  margin-right: 8px;
}

.heading {
  font-size: 35px;
  color: #000000;
  margin-left: 40px;
  margin-top: 8vh;
  text-align: left;
  flex-grow: 1; 
}

.article-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  align-self:center;
  padding: 20px;
  width: 90vw;
  box-sizing: border-box;
}

/* Mobile-specific */
@media only screen and (max-width: 768px) {
  .information-page {
    padding: 5vw;
  }

  .back-button {
    font-size: 20px;
    padding: 10px;
  }

  .heading {
    font-size: 23px;
    margin-left: -2vw;
  }

  .header {
    flex-direction: row; 
    align-items: flex-start;
    margin-bottom: 0px; 
  }

  .add-article-button {
    font-size: 10px; 
    border: 1px solid #303b2d;
    padding: 1.5vw 1vh; 
    margin-left: 0px; 
    margin-top: 8vh;
    margin-right: 3vw; 
    width: auto; 
    outline: none;
  }
  .add-article-button:focus {
    border-color: #ffffffde; 
    box-shadow: none;
  }
  .add-article-button:hover {
    background-color: #436a569a;
  }
  
  .article-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
}
